html, body {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background-color: white;
}

.banner {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.nav_bar {
    font-family: 'Roboto Slab', sans-serif;
    background-color: black;
    color: white;
    list-style-type: none;
    padding: 1em;
    font-size: 1.5em;
    margin-right: auto;
    margin-left: auto;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav_span {
    margin-right: 2em;
}


#jane {
    width: 100%;
    height: 400px;
}

#stockings {
    width: 100%;
    margin-top: 50px;
}

.spacer {
    height: 80px;
    width:100%;
}

.main_content {
    font-family:'Montserrat', sans-serif;
    width: 100%;
    margin-top: 50px;
}

h1 {
    text-align: center;
    font-size: 2em;
}

.leftcol {
    float: left;
    width: 30%;
    display: inline-block;
    margin: 0 5%;
    padding: 5%;
    text-align: center;
    font-style: italic;
}

#moulin {
    width: 100%;
    max-height: 800px;
    max-width: 1000px;
    min-width: 180px;
}

.rightcol {
    float: left;
    width: 30%;
    display: inline-block;
    margin: 50px 5%;
    padding: 5%;
    font-size: 1.3em;
}

.imgspacer {
    height: 30px;
}



@media screen and (min-width:200px) and (max-width:1200px) {
    #moulin {
        width: 100%;
    }
}
    
    
@media screen and (min-width:768px) and (max-width:1200px) {
    .leftcol, .rightcol {
        width:100%;
        margin: 0;
        padding: 0;
        float: none;
        display: block;
    }
    
    .rightcol {
        margin: 50px auto;
        width: 90%;
    }
    
    #moulin {
        width: 70%;
       
    }
    
    #stockings {
        width: 500px;
        height: 600px;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    
    .leftcol, .rightcol {
        width:100%;
        margin: 0;
        padding: 0;
        float: none;
        display: block;
    }
    
    .rightcol {
        margin: 50px auto;
        width: 90%;
        font-size: 1em;
        
    }
    
    .main_content {
        font-size: 1.5em;
    }
    
    .caption {
        font-size: 0.9em;
    }
    
    #moulin {
        width: 75%;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    #stockings {
        width: 450px;
        height: 550px;
    }
}

@media screen and (max-width:480px) {
   .leftcol, .rightcol {
        width:100%;
        margin: 0;
        padding: 0;
        float: none;
        display: block;
    }
    
    .rightcol {
        margin: 50px auto;
        width: 90%;
        
    }
    
    .main_content {
        font-size: 1em;
    }
    
    .caption {
        font-size: 0.9em;
    }
    
    #caption {
        font-size: 0.9em;
        display: none;
    }
    
    #moulin {
        display: none;
    }
    
    #stockings {
        width: 65%;
        
    }
    
    .nav_span {
        font-size: 0.9em;
    }
    
    h1 {
        font-size: 1.2em;
    }
    
    
}


